(
    background: RGB(40, 40, 40),
    input: RGB(69, 49, 136),
    cursor: RGB(255,255,255),
    suggestion: RGB(146, 147, 116),
    font: None,
    font_size: 16,
    line_spacing: 6,
    padding: 12,
    width: 1000,
    height: 700
)
